{%extends 'main.html'%}    
    {%block title%}
            Dashboard
    {%endblock%}
    {%block content%}
        <a href = "{% url 'AddPost' %}"><button>Add Post</button></a>
        <a href = "{% url 'Logout'%}">Logout</a>
        <div class = 'blogs'>
            {%for post in post_list%}
                <div class = 'post'>
                    <div>{{post}}</div>
                    <div>{{post.tagline}}</div>
                </div>
            {% endfor %}
        </div>
        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
    {%endblock content%}