{%extends 'main.html'%}    
    {%block title%}
        Login Page
    {%endblock title%}
    {%block content%}
        <form method="POST" action = "">
            {% csrf_token %}
            <input type = "text" name = "username" placeholder = "Username...">
            <input type="password" name="password" placeholder="Password...">
            <input type="submit" value="Login">
        </form>
        {% for message in messages%}
            {{message}}
        {% endfor %}
        <p>Don't have an account?<a href = "{% url 'Register'%}">Sign up</a></p>
    {%endblock content%}
