<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action = "">
        {% csrf_token %}
        <input type = "text" name = "username" placeholder = "Username...">
        <input type="password" name="password" placeholder="Password...">
        <input type="submit" value="Login">
    </form>
    {% for message in messages%}
        {{message}}
    {% endfor %}
    <p>Don't have an account?<a href = "{% url 'Register'%}">Sign up</a></p>
</body>
</html>